<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pokemon List</title>
</head>
<body>
    <input type="hidden" id="pokemon_id" name="pokemon_id" value="#{pokemon_id}" />
    <h1>Detail Pokemon List</h1>
    <h3>Name:</h3>
    <h4 id="name"></h4>
    <div style="margin-bottom:10px;">
        <a name="click to enlarge" target="_blank">
            <img id="image" src="" class="preview-image" width="20%"/>
        </a>
    </div>
    <h3>Moves: </h3>
    <h4 id="moves"></h4>
    <h3>Types: </h3>
    <h4 id="types"></h4>
    <h3>Base Experience: </h3>
    <h4 id="base_experience"></h4>
    <h3>Height: </h3>
    <h4 id="height"></h4>
    <h3>Weight: </h3>
    <h4 id="weight"></h4>

    <script src="/script2.js"></script>
</body>
</html>
